:root {
  font-family: 'Google Sans Code', 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
}

pre {
  font-family: 'Google Sans Code', 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

#root {
  padding: 2rem;
}

.info {
  width: 650px;
  margin-left: 15px;
}

.label {
  color: #9cdcfe;
}

.header {
  color: #d7ba7d;
}

.spacing {
  color: #808080;
}

.value {
  color: #ce9178;
}

.value2 {
  color: #94cea8;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.header-line {
  display: inline;
  background-color: #d7ba7d;
  height: 1px;
  flex: 1;
  margin-right: 8px;
}

.header-row.language-section {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.header-row.language-section .header-line {
  margin-right: 40px;
}

.language-stats-section {
  width: 1150px;
}